<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatMeets-Call</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/style/call.css">
    <link rel="shortcut icon" href="/public/icons/ChatMeet (1).png">
    <script>
        $(function () {
            $('body').outerHeight($(window).height());
        });
        $(window).on('resize', function () {
            winH = $(window).height();
            $('body').outerHeight(winH);
        });
        const domain = "https://chatm-dffac3792890.herokuapp.com/join/" 
    </script>
    <meta property="og:description" content="完全匿名で利用できるビデオ・通話プラットフォーム">
    <meta property="og:title" content="ChatMeets">
    <meta property="og:image" content="/public/icons/Chat Meets.png">

    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://chatm-dffac3792890.herokuapp.com/call">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/public/icons/Chat Meets.png">
    <meta name="twitter:description" content="ChatMeets">
    <meta name="twitter:title" content="完全匿名で利用できるビデオ・通話プラットフォーム">
</head>

<body>
    <script>
        let Socket = io()
    </script>

    <span id="userId" style="display: none;"><%=userId%></span>
    <span id="roomId" style="display: none;"><%=roomId%></span>
    <span id="flg" style="display: none;"><%=flg%></span>

    <div id="audioWindowsWaerpp" style="display: none;"></div>

    <div class="roomTop">
        <span class="roomTopText">
            <%=roomName%>
        </span>
    </div>
    <div class="roomCenter">
        <div class="posionButtons">
            <textarea id="roomIdAria" style="display: none;">https://chatm-dffac3792890.herokuapp.com/join/<%=roomId%></textarea>
            <button class="audioMuteButton" onclick="copyId()" style="z-index:1">
                <span class="material-symbols-outlined linkIcon">
                    link
                </span>
            </button>
            <div class="buttonSpace">

            </div>
            <button class="audioMuteButton screenChangeButton" onclick="changeCap()" style="z-index:1">
                <span class="material-symbols-outlined screenOnIcon" style="margin: auto;">
                    screenshot_monitor
                    </span>
                    <span class="material-symbols-outlined screenOffIcon" style="margin: auto; display:none">
                        desktop_access_disabled
                        </span>
            </button>
            <div class="buttonSpace">

            </div>
            <button class="LinkCoPyButton" onclick="changeAudios()" style="z-index:1">
                <span class="material-symbols-outlined audioIcon">
                    headphones
                </span>
                <span class="material-symbols-outlined audioIcon2" style="display: none;">
                    headset_off
                </span>
            </button>
        </div>
        <div class="roomCenterMain">



        </div>
    </div>
    <div class="roomBottom">
        <div class="roomButtonS">
            <div class="camChangeButtonWarpp">
                <button class="camChangeButton" onclick="camChange()"><i
                        class="ri-vidicon-fill meetPageCamIcon"></i><span class="camChangeText">ON</span></button>
            </div>
            <div class="mikeChangeButtonWarpp">
                <button class="mikeChangeButton" onclick="changeMike()"><i
                        class="ri-mic-fill meetPageMikeIcon"></i><span class="mikeChangeText">ON</span></button>
            </div>
            <div class="lateRoomButtonWarpp">
                <button class="lateRoomButton" onclick="moveMeet()"><span class="lateRoomText">退室</span></button>
            </div>
        </div>
    </div>



    <script src="/public/doms/audioDoms.js"></script>
    <script src="/public/src/callPage/call.js"></script>
    <script src="/public/src/callPage/p2p.js"></script>
    <script src="/public/src/callPage/capScreem.js"></script>
    <script src="/public/doms/videoWindows.js"></script>

</body>

</html>
